#containerTetris {
    background-color: "skyblue";
    font-family: 'Press Start 2P', cursive;
    
    /* height: 100vh;
    width: 100vw; */
}

#score {
    font-family: 'Press Start 2P', cursive;
    /* height: 100vh;
    width: 100vw; */
}

#high-scores {
    position: absolute;
    top: 50%;
    left: 78%;
    border: 1px solid black;
}

#tetris {
    height: 80px;
    width: 70px;
}