#containerTetris {
    background-color: "skyblue";
    font-family: 'Press Start 2P', cursive;
    
    /* height: 100vh;
    width: 100vw; */
}

#score {
    font-family: 'Press Start 2P', cursive;
    /* height: 100vh;
    width: 100vw; */
}

#tetris {
    height: 80px;
    width: 70px;
}